@mixin tamaños ($size,$margin) {
    font-size: $size;
    margin: $margin;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 80px;
    
    
    .iconos{
        display: flex;
        justify-content: center;
        width: 100%;
        
        .icon-facebook{
            @include tamaños(20px,10px )
        }

        .icon-instagram{
            @include tamaños(20px,10px )
        }

        .icon-truck{
            @include tamaños(20px,10px)
        }

        .icon-envelope-open-o{
            @include tamaños(20px,10px )
        }
    }
}

