h1 {
	text-align: center;
	color: $color_1;
	font-size: 30px;
}
a {
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: $color_1;
}
li {
	list-style-type: none;
	display: inline-block;
}
.logo {
	height: 100px;
	border-radius: 50px;
	margin: 10px;
}
.tit {
	margin: 10px;
}
header {
	display: flex;
	justify-content: flex-start;
}