@media (min-width: 768px) and (max-width: 992px) {
	h1 {
		font-size: 20px;
	}
	.navbar {
		width: 60%;
		height: 60%;
	}
	.navbar-nav {
		width: 60%;
		height: 60%;
	}
	.nav-item {
		width: 60%;
		height: 60%;
	}
	.logo {
		height: 70px;
	}
	.navegador {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.barra {
		height: 60%;
	}
}
@media (max-width: 767px) {
	.boton{
		width: 175px;
		height: 40px;
	}
}
